<div>To see the issue:</div>
<ol>
  <li>Click on the host element. The tippy width is correctly 600px.</li>
  <li>Click the toggle button to enable `useHostWidth`.</li>
  <li>Click on the host element. The tippy width is correctly 300px.</li>
  <li>Click the toggle button to disable `useHostWidth`.</li>
  <li>Click on the host element. The tippy width is <em>incorrectly</em> 300px.</li>
</ol>

<button type="button" (click)="useHostWidth = !useHostWidth">Toggle use host width. Currently it's {{ useHostWidth }}</button>

<div
  style="width: 300px; background: grey; margin-top: 30px"
  [tp]="tippyTmp"
  [tpUseHostWidth]="useHostWidth"
>
  Click on me!
</div>

<ng-template #tippyTmp>
  <div style="background: green; width: 600px;">This is a tippy!</div>
</ng-template>
